body{
    font-family:'Open Sans';
    padding:0;
    margin:0;
}

header{
    padding-top:10px;
    padding-bottom:25px;
    padding-left:0;
    padding-right:0;
    background:#f3f3f3;
    border-bottom:20px solid #3af29d;
}

nav{
    width:960px;
    margin:0 auto;
}

nav ul{
   list-style:none; 
   text-align:right;
   margin-top:-20px;
   text-transform:uppercase;
}

nav ul li{
    display:inline;
    padding:2px 20 px;
}

nav a{
    color:#530f2e;
    font-family:Trebuchet MS;
    text-decoration:none;
}